* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1.2rem;
    background-color: #212936;
    color: aliceblue;
}

.header-content {
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0px 15px;
    display: flex;
    max-width: 200px;
}

.flag {
    width: clamp(40px, 100%, 50px);
}

.name {
    margin: 0 4px;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

.links {
    display: flex;
    gap: 15px;
    align-items: center;
    min-width: 200px;
    margin: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

a {
    text-decoration: none;
    color: white;
}

.top-container {
    flex: 1;
    width: 100%;
    background-color: rgb(163, 87, 233);
    color: white;
    padding: 0 0 0.5rem;
}

.middle {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 5%;
    max-width: 1000px;
}

.left {
    /* min-width: 100px; */
    margin: auto;
    max-width: 400px;
    padding: 1rem;
}

.title {
    font-weight: 800;
    font-size: clamp(1.5rem, 2.75vw, 2.5rem);
}

.subtext {
    padding: 14px 0px;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.button1 {
    background-color: #005ff8;
    color: white;
    padding: 0.25rem 2.5rem;  
    margin: 5px 0px;
    font-size: 1rem;
}

.right {
    max-width: 400px;
    margin: auto;
}

.pic {
    width: clamp(100px, 100%, 400px);
    margin: 1.5rem auto 0;
}

.statement {
    margin: 0.5rem 0;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.05rem);
}

.second-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 25px;
    flex-wrap: wrap;    
    max-width: 1000px;
}

.box{
    min-width: 125px;
    width: 20%;
}

.picture {
    width: clamp(125px, 100%, 275px);
    margin: auto;
    border: 5px solid #3882f6 ;
}

.picture:hover {
    scale: 1.1;
    box-shadow: 3px 3px 6px rgba(185,37,230, 0.5);
}

.word {
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    text-align: center;
}

.third-container {
    width: 100%;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    padding: 3vh;
}

.quote-container {
    width: clamp(350px, 70%, 1000px);
}

.quote {
    font-size: clamp(1.25rem, 2vw, 2rem);
    margin: 20px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.thor {
    font-size: clamp(1rem, 1.75vw, 1.75rem);
    margin: 20px;
    color:#1f2937;
    text-align: right;
    font-weight: 900;
}

.fourth-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.blue {
    background-color: #3882f6;
    max-width: 1000px;
    width: clamp(300px, 70%, 1000px);
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.button2 {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    height: 2rem;
    padding: 0 2.5rem;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
}

.button2:hover {
    cursor: pointer;
    scale: 1.1;
}

.button1:hover {
    cursor: pointer;
    scale: 1.1;
}

.left2 {
    color: white;
    margin: 10px;
    width: 50%;
    min-width: 200px;
}

.call {
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.sign-up {
    font-size: 1rem;
    margin: 0.5rem 0;
}

footer {
    width: 100%;
    padding: 1.25rem;
    font-size: 0.5rem;
    background-color: #212936;
    color: white;
    text-align: center;
    font-size: clamp(0.5rem, 2vw, 0.75rem);
}
