* {
    margin: 0px;
    padding: 0px;
    /* border: 1px red solid; */
}

body {
    height: 100vh;
    /* position: relative; */
}

.top {
    display: flex;
    align-items: center;
    background-color: rgb(170, 110, 226);
}

.go-back {
    width: clamp(30px, 6%, 50px);
    padding: 0 8px;
}

h1 {
    padding: 15px;
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: aliceblue;
    width: 1900%;
    text-align: center;
}

.boxes {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    
}

.box-content {
    padding: 25px;
    max-width: 1000px;
    display: flex;
    gap: 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    width: clamp(150px, 20%, 300px);
}

.picture {
    width: 100%;
    margin: 10px;
    background-color: #fff;
    border: rgb(170, 110, 226) solid 8px;
    padding: 10px
    width: clamp(130px, 20%, 280px)
}

.picture:hover {
    scale: 1.1;
    box-shadow: 2px 2px 3px rgba(226, 141, 229, 0.3);
}
.word {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    text-align: center;
    margin: 10px;
    color: aliceblue;
    width: clamp(150px, 20%, 300px);
}

/* .popup {
    background-color: #fff;
    padding: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */