* {
    padding: 0;
    border: 1px red solid;
    margin: 0;
}

h1 {
    background-color: rgb(170, 110, 226);
    width: 100%;
    color: white;
    padding: 1rem;
    text-align: center;
}

.purple {
    background-color: rgb(204, 118, 204);
    color: rgb(129, 0, 129);
}

.blue {
    background-color: rgb(134, 189, 238);
    color: rgb(0, 80, 150);
}

.pink {
    background-color: rgb(220, 113, 156);
    color: rgb(182, 26, 88);
}

.green {
    background-color: rgb(107, 206, 107);
    color: rgb(13, 101, 13);
}