* {
    margin: 0px;
    padding: 0px;
    border: 1px red solid;
}

body {
    height: 100vh;
    /* position: relative; */
}

.top {
    display: flex;
    background-color: rgb(170, 110, 226);
    position: relative;
}

a {
    /* flex: 1; */
}

.go-back {
    width: 50px;
}

h1 {
    padding: 15px;
    font-size: 1.5rem;
    color: aliceblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.boxes {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 25px;
}

.box {
    width: 20%;
}

.picture {
    width: 100%;
    margin: 10px;
    background-color: #fff;
    border: rgb(170, 110, 226) solid 8px;
}

.word {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: aliceblue;
}

/* .popup {
    background-color: #fff;
    padding: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */